.dataTable {
  height: 500px;
  padding: 20px;

  .dataTableTitle {
    width: 100%;
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link {
      text-decoration: none;
      color: green;
      font-size: 16px;
      font-weight: 400;
      border: 1px solid green;
      padding: 5px;
    }
  }

  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }
  }
  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;

    &.active {
      background-color: rgba(101, 255, 101, 0.403);
      color: rgb(9, 204, 9);
    }
    &.pending {
      background-color: rgba(251, 232, 125, 0.461);
      color: rgb(246, 200, 14);
    }
    &.passive {
      background-color: rgba(248, 163, 163, 0.536);
      color: rgb(249, 80, 114);
    }
  }
  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton {
      font-size: 12px;
      padding: 2px 5px;
      border-radius: 5px;
      color: darkblue;
      border: 1px dotted rgb(24, 245, 24);
      cursor: pointer;
    }
    .deleteButton {
      font-size: 12px;
      padding: 2px 5px;
      border-radius: 5px;
      color: crimson;
      border: 1px dotted rgba(251, 114, 114, 0.649);
      cursor: pointer;
    }
  }
}
